
  .el-dialog__body {
    max-height: 70vh;
    overflow-y: auto;
  }
  #x-map-box .el-dialog__body {
    max-height: 100vh;
    overflow-y: auto;
  }
  .el-input-number--mini{
    line-height: 28px;
  }